footer {
  color: gold;
  text-shadow: 3px -3px 5px rgb(11, 172, 11);
  background-color: black;
  display: flex;

  justify-content: space-between;
}
ul {
  margin: 5px;
  padding: 5px;
  flex-direction: row;
}
li {
  display: flex;
  flex-direction: column;
}
