<h1>Formulario</h1>
<div>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGames">
    <fieldset>
      <label for="name">name</label>
      <input type="text" id="name" formControlName="name" />
      <div
        *ngIf="
          !formGames.get('name').valid &&
          (formGames.get('name').dirty || submitted)
        "
      >
        ljkhlyg
      </div>
    </fieldset>
    <fieldset>
      <label for="nickname">nickname</label>
      <input type="text" id="nickname" formControlName="nickname" />
      <div
        *ngIf="
          !formGames.get('nickname').valid &&
          (formGames.get('nickname').dirty || submitted)
        "
      >
        lhblyuli
      </div>
    </fieldset>
    <fieldset>
      <label for="age">edad</label>
      <input type="number" id="age" formControlName="age" />

      <div
        *ngIf="
          !formGames.get('age').valid &&
          (formGames.get('age').dirty || submitted)
        "
      >
        kuigyij
      </div>
    </fieldset>
    <fieldset>
      <label for="password">password</label>
      <input type="password" id="password" formControlName="password" />
      <div
        *ngIf="
          !formGames.get('password').valid &&
          (formGames.get('password').dirty || submitted)
        "
      >
        jknnpoinmadv
      </div>
    </fieldset>
    <fieldset>
      <label for="game">juego</label>
      <input type="text" id="game" formControlName="game" />
      <div
        *ngIf="
          !formGames.get('game').valid &&
          (formGames.get('game').dirty || submitted)
        "
      >
        csldlkcnḱsdv
      </div>
    </fieldset>
    <button type="submit" [disabled]="!formGames.valid">Submit</button>
  </form>
</div>
<!--<div *ngIf="" myValues></div>-->
