<p>body works!</p>
<app-article [article]="articlewitcher"></app-article>
<app-article [article]="articleciberpunk"></app-article>
<app-images [image]="imagewitcher"></app-images>
<!--<app-images [image]="imageCiberpunk"></app-images>
