nav {
  display: flex;
  justify-content: space-between;

  img {
    max-width: 100px;
    display: flex;

    height: 100px;
  }
  h1 {
    display: flex;
    color: black;
    text-shadow: 3px -3px 5px rgb(36, 46, 36);
    list-style: none;
    padding: 5px;

    p {
      background-color: black;

      text-shadow: 3px -3px 5px rgb(36, 46, 36);
      font-style: italic;
      font-size: 40px;
    }
  }
}
