<div>
  <div>
    <h1>Juegos de moda</h1>
  </div>
  <div>
    <h1>{{ article.productora }}</h1>
    <h2>{{ article.titulo }}</h2>
    <p>{{ article.age }}</p>
    <p>{{ article.categoria }}</p>
  </div>
  <div>
    <p>{{ article.argumento }}</p>
  </div>
  <div>
    <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" />
  </div>
</div>
